**/node_modules
**/.next
**/.medusa
**/.turbo
**/dist
**/coverage
**/jest-coverage
**/.nyc_output
.git
.github
**/*.log
**/.env
**/.env.*
!**/.env.template
docker/
.vscode
.idea
plans/
docs/
README.md
